@page "/piverify"
@using AutoCAC.Models
@inject DialogService DialogService
@inject NavigationManager Nav
@inject AutoCAC.Services.UserContextService UserContext
@using AutoCAC.Components.Templates.PatientSearch
@using AutoCAC.Components.Templates
@using AutoCAC.Components.Templates.Buttons
@inject IDbContextFactory<AutoCAC.Models.mainContext> DbFactory
@inject NotificationService NotificationService

<PageTitle>Private Insurance Verification</PageTitle>
<div class="content-container--wide">
    <DataGridVanilla TItem="PiVerification" @ref="grid" QueryFactory="@Qry()"
        SearchColumns="@(new[] { "Patient.Name", "Patient.ChartNumber" })"
    AddButtonDefault="false">
        <HeaderContent> <PatientDialogButton AfterPatientSelect="NewPatientSelect" /> </HeaderContent>
        <ChildContent>
            <RadzenDataGridColumn TItem="PiVerification" Property="Patient.Name" Title="Patient">
                <Template Context="x" ><RadzenButton title="@x?.Patient?.Name" Variant="Variant.Text" Text="@x?.Patient?.Name" Click="@(() => Nav.NavigateToRelative(x.Id.ToString()))"></RadzenButton></Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="PiVerification" Property="Patient.ChartNumber" Title="Chart #" Width="100px"/>
            <RadzenDataGridColumn TItem="PiVerification" Property="CurrentStatus" Title="Status" FilterMode="FilterMode.CheckBoxList" Width="150px"/>
            <RadzenDataGridColumn TItem="PiVerification" Property="Bin" Title="BIN" Width="100px"/>
            <RadzenDataGridColumn TItem="PiVerification" Property="Pcn" Title="PCN" Width="100px"/>
            <RadzenDataGridColumn TItem="PiVerification" Property="GroupId" Title="Group ID" Width="150px"/>
            <RadzenDataGridColumn TItem="PiVerification" Property="CardholderId" Title="Cardholder ID" Width="150px" />
            <RadzenDataGridColumn TItem="PiVerification" Property="LastModified" Title="Last Modified" />
            <ActionColumn TItem="PiVerification" Context="row">
                <SplitButtonTemplate DefaultButtonValue="Edit" Buttons="@BuildButtons(row)" />
            </ActionColumn>
        </ChildContent>
    </DataGridVanilla>
</div>

@code {
    [Parameter][SupplyParameterFromQuery(Name = "dataGridTemplateId")] public int? TemplateId { get; set; }
    private DataGridVanilla<PiVerification> grid;
    private string currentUsername;
    private List<string> statusChoices = new() { "New", "Submitted", "Verified", "Completed" };
    private Func<AutoCAC.Models.mainContext, IQueryable<AutoCAC.Models.PiVerification>> Qry()
    {
        return db => db.PiVerifications
                .Include(x => x.Patient)
                .Include(x => x.PiVerificationComments)
                .AsNoTracking();
    }

    protected override void OnInitialized()
    {
        if (TemplateId == null)
        {
            if (UserContext.IsInGroupOrSuperuser("PharmacyTech")) Nav.PushGridTemplateToUrl(37);
            else Nav.PushGridTemplateToUrl(33);
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUsername = UserContext.Username;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task NewPatientSelect(AutoCAC.Models.Patient selected)
    {
        var existingRecord = await DbFactory.GetByExpressionAsync<PiVerification>(x => x.PatientId == selected.Id);
        if (existingRecord != null)
        {
            var continueAnyway = await DialogService.YesNoDialog("Patient already exists. Click yes to create a new record anyway. Click no to view existing record.", "Duplicate");
            if (continueAnyway != true)
            {
                Nav.NavigateTo(Nav.GetPath(existingRecord.Id.ToString()));
                return;
            }
        }
        Models.PiVerification piVerification = new Models.PiVerification
        {
            PatientId = selected.Id,
            CreatedAt = DateTime.Now,
            LastModified = DateTime.Now,
            CreatedBy = UserContext.Username,
            CurrentStatus = "New"
        };
        var dbRecord = await DbFactory.AddItemAsync(piVerification);
        Nav.NavigateTo(Nav.GetPath(dbRecord.Id.ToString()));
    }

    IEnumerable<SplitButtonItem> BuildButtons(PiVerification row) => new[]
    {
        new SplitButtonItem
        {
            Text = "Edit",
            Value = "Edit",
            Icon = "edit",
            IconColor = Colors.Primary,
            Action = async () =>
            {
                Nav.NavigateTo(Nav.GetPath(row.Id.ToString()));
            }
        },
        new SplitButtonItem
        {
            Text = "Move Back",
            Value = "Back",
            Icon = "undo",
            IconColor = Colors.WarningLight,
            Disabled = () => row.CurrentStatus == "New",
            Action = async () =>
            {
                var newStatus = statusChoices.Previous(row.CurrentStatus);
                row.CurrentStatus = newStatus;
                row.LastModified = DateTime.Now;
                await DbFactory.UpdateItemAsync(row);
                NotificationService.Success($"Status updated to {newStatus}");
                await grid.ForceReload();
            }
        },
        new SplitButtonItem
        {
            Text = "Submit",
            Value = "Forward",
            Icon = "done_all",
            IconColor = Colors.Success,
            Disabled = () => row.CurrentStatus == "Completed",
            Action = async () =>
            {
                var newStatus = statusChoices.Next(row.CurrentStatus);
                row.CurrentStatus = newStatus;
                row.LastModified = DateTime.Now;
                await DbFactory.UpdateItemAsync(row);
                NotificationService.Success($"Status updated to {newStatus}");
                await grid.ForceReload();
            }
        },
        new SplitButtonItem
        {
            Text = "Delete Record",
            Value = "Delete",
            Icon = "delete",
            IconColor = Colors.Danger,
            Disabled = () => !UserContext.IsInGroupOrSuperuser("PharmacyTech"),
            Action = async () =>
            {
                var confirm = await DialogService.DeleteConfirm("Insurance Verification Record");
                if (confirm == true)
                {
                    await DbFactory.DeleteItemAsync(row);
                    NotificationService.Success($"Deleted");
                    await grid.ForceReload();
                }
            }
        }
    };
}
