@inject IJSRuntime JS

<div class="print-include">
    <div class="print-source @(PrintOnly ? "screen-hidden" : null)">
        @ChildContent
    </div>
</div>

@code{
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool PrintOnly { get; set; } = true;
}