@page "/wardstock/admin"
<h3>Wardstock Admin Options</h3>
<RadzenPanelMenu>
	<RadzenPanelMenuItem Text="Locations" Path="/wardstock/admin/locations" />
	<RadzenPanelMenuItem Text="Users" Path="/wardstock/admin/users" />
</RadzenPanelMenu>