@page "/wardstock/admin/locations/{Id:int}"
@using AutoCAC.Models
@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Components.Templates.Buttons
@inject IDbContextFactory<MainContext> DbFactory
@inject NavigationManager Nav
@inject DialogService DialogService
@inject NotificationService Notifications
<BackLink />
<LoadingContent LoadState="@(!pageLoaded ? LoadingState.Loading : LoadingState.Loaded)">
	<RadzenRow>
		<RadzenButton Text="@($"{pageItem?.LocationName} (click to edit name)")" Variant="Variant.Text" Click="EditName" Size="ButtonSize.Large" Style="text-transform: none;" />
	</RadzenRow>
	<DataGridEditable TItem="AutoCAC.Models.WardstockItem" AddAction="SelectNewDrug" GridModel="GridModelDrugs">
		<HeaderContent><h4>Drugs</h4></HeaderContent>
		<ChildContent>
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockItem" Property="DisplayName" Title="Display Name">
				<EditTemplate Context="row" >
					<RadzenTextBox @bind-Value="row.DisplayName" Name="rowDisplayName"/>
					<RadzenRequiredValidator Component="rowDisplayName" />
				</EditTemplate>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockItem" Property="Category" Title="Category">
				<EditTemplate Context="row">
					<RadzenTextBox @bind-Value="row.Category" Name="rowCategory" />
					<RadzenRequiredValidator Component="rowCategory" />
				</EditTemplate>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockItem" Property="Par" Title="Par">
				<EditTemplate Context="row">
					<RadzenNumeric @bind-Value="row.Par"  />
				</EditTemplate>
			</RadzenDataGridColumn>
			<RadzenDataGridColumn TItem="AutoCAC.Models.WardstockItem" Property="LotRequired" Title="Lot Required">
				<EditTemplate Context="row">
					<RadzenCheckBox @bind-Value="row.LotRequired"  />
				</EditTemplate>
			</RadzenDataGridColumn>
		</ChildContent>
	</DataGridEditable>
	<DataGridVanilla TItem="AuthUser" AddButtonClick="AddUser" GridModel="GridModelUsers" >
		<HeaderContent><h4>Users</h4></HeaderContent>
		<TrailingColumns>
			<ActionColumn TItem="AuthUser" Context="data">
				<RadzenButton Icon="delete"
							  ButtonStyle="ButtonStyle.Danger"
							  Variant="Variant.Text" Click="@(() => DeleteUserAsync(data))" />
			</ActionColumn>
			<ActionDefaultColumn TItem="AuthUser" ShowEdit="false" GridModel="GridModelUsers"/>
		</TrailingColumns>
	</DataGridVanilla>
</LoadingContent>
<BackLink />
	@code {
	[Parameter] public int Id { get; set; }
	private bool pageLoaded = false;
	private WardstockLocation pageItem;
	private DataGridHelper<AutoCAC.Models.WardstockItem> GridModelDrugs = new()
	{
		SearchColumns = new[] { "DisplayName" },
		ShowDownloadButton = false,
		ShowTemplates = false,
		AllowGrouping = false,
		AllowColumnPicking = false
	};

	private DataGridHelper<AutoCAC.Models.AuthUser> GridModelUsers = new()
	{
		IncludeColumns = new[] { "LastName", "FirstName", "Username"},
		SearchColumns = new[] { "LastName", "FirstName", "Username" },
		ShowDownloadButton = false,
		ShowTemplates = false,
		AllowGrouping = false,
		AllowColumnPicking = false
	};

	private async Task AddUser()
	{
		var selectedUser = await DialogService.StaffAdDialog();
		if (selectedUser == null) return;
		await using var db = await DbFactory.CreateDbContextAsync();
		bool userExists = await db.WardstockUserlocations
							.AnyAsync(x => x.LocationId == Id && x.AuthUserId == selectedUser.Id);
		if (userExists)
		{
			Notifications.Info($"{selectedUser.DisplayName} already assigned to this location");
			await GridModelUsers.ReloadAsync();
			return;
		}
		await db.AddItemAsync<WardstockUserlocation>(new WardstockUserlocation
			{
				LocationId = Id,
				AuthUserId = selectedUser.Id
			}
		);
		await db.SaveChangesAsync();
		await GridModelUsers.ReloadAsync();
	}

	protected override void OnInitialized()
	{
		GridModelDrugs.QueryFactory = db => db.WardstockItems
				.Include(x => x.Drug)
				.Where(x => x.LocationId == Id)
				.AsQueryable();
		GridModelUsers.QueryFactory = db => db.WardstockUserlocations
				.Where(x => x.LocationId == Id)
				.Select(x => x.AuthUser)
				.OrderBy(x => x.LastName)
					.ThenBy(x => x.FirstName)
				.AsQueryable();
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;
		await LoadPageItem();

		pageLoaded = true;
		StateHasChanged();
	}

	private async Task LoadPageItem()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		pageItem = await db.WardstockLocations
							.Include(x => x.WardstockItems)
								.ThenInclude(x => x.Drug)
							.FirstOrDefaultAsync(x => x.Id == Id);
	}

	private async Task EditName()
	{
		var newName = await DialogService.TextPromptAsync("Location Name", "Edit Location Name", pageItem?.LocationName);
		if (string.IsNullOrWhiteSpace(newName)) return;
		pageItem.LocationName = newName;
		await DbFactory.UpdateItemAsync(pageItem);
		await LoadPageItem();
	}

	private async Task<WardstockItem> SelectNewDrug()
	{
		await LoadPageItem();
		var newItem = new WardstockItem{ Par = 0, Category = "SUPPLIES", LocationId = Id };
		var isDrug = await DialogService.YesNoDialog("Is this a Drug or non-drug item?", "Item Type", "Drug", "Non-drug");
		if (isDrug == true)
		{			
			var curSelected = pageItem.WardstockItems.Where(x => x.Drug != null).Select(x => x.DrugId).ToHashSet();
			var selected = await DialogService.DrugSelectDialogAsync(x => !curSelected.Contains(x.Id));
			if (selected != null)
			{
				newItem.DrugId = selected.Id;
				newItem.Drug = selected;
				newItem.Category = "Oral";
				newItem.DisplayName = selected.Name;
			}
		}
		return newItem;
	}
	private async Task DeleteUserAsync(AuthUser user)
	{
		var confirm = await DialogService.Confirm($"Are you sure you want to remove {user.DisplayName} from this location?", "Confirm Delete");
		if (confirm != true) return;
		await using var db = await DbFactory.CreateDbContextAsync();
		var item = await db.WardstockUserlocations.FirstOrDefaultAsync(x => x.LocationId == Id && x.AuthUserId == user.Id);
		if (item != null)
		{
			db.WardstockUserlocations.Remove(item);
			await db.SaveChangesAsync();
			await GridModelUsers.ReloadAsync();
		}
	}
}
