@page "/drugenteredit"
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@inject IDbContextFactory<mainContext> DbFactory
@using AutoCAC.Components.Templates
@using AutoCAC.Models
@using AutoCAC.Extensions
@using Microsoft.EntityFrameworkCore
@inject AutoCAC.Services.UserContextService UserContext
@inject RPMSService RPMS
@implements IDisposable

<PageTitle>Drug Enter Edit</PageTitle>

<NdfLookup SelectionChanged="OnNdfSelected" />
<hr>
@if(selectedNdf != null)
{
    <DrugLookupTbl SelectionChanged="OnDrugSelected" SelectedNdf="selectedNdf" @ref="DrugsTblRef" />
}
else
{
    <span>Select drug from National Drug Formulary above to continue</span>
}
<hr>
<RPMSOutput />

@code {
    private string ndcInput = string.Empty;
    private DrugLookupTbl DrugsTblRef;
    private Ndf selectedNdf;
    private Drug selectedDrug;

    private Task OnNdfSelected(Ndf selected)
    {
        selectedNdf = selected;
        return Task.CompletedTask;
    }

    private async Task OnDrugSelected(Drug selected)
    {
        selectedDrug = selected;
        if (selectedDrug == null) return;
        await JS.DialogShow();
        if (RPMS.CurrentMode.SignedIn)
        {
            await RunRPMSCommands();
        }
        else
        {
            RPMS.SubscribeToModeChanged(HandleModeChanged);
        }
        return;
    }

    private async Task RunRPMSCommands()
    {
        if (selectedDrug != null)
        {
            try
            {

                if (selectedDrug.Id == 0)
                {
                    await NewDrug();
                }
                else
                {
                    await NdcChange();
                    await RPMS.SendAsync(selectedNdf.Ndc);
                    RPMS.WriteToXterm($"(Dispense unit: {selectedDrug.DispenseUnit}): ");
                }
            }
            finally
            {
                RPMS.UnSubscribeToModeChanged(HandleModeChanged);
            }
        }
    }

    private async Task NewDrug()
    {
        await RPMS.GoToMenu("DRUG");
        await RPMS.SendAsync(selectedDrug.Name);
        for (int i = 0; i < 20; i++)
        {
            string prompt = RPMS.CheckPrompt( "Yes//", "No//", "CHOOSE");
            switch(prompt)
            {
                case "No//":
                    await CreateNewDrug();
                    return;
                case "Yes//":
                    string lastStr = RPMS.Output.Buffered;
                    if(lastStr.Contains("Lookup: GENERIC NAME"))
                    {
                        var parameters = new Dictionary<string, object>
                        {
                            { "SelectedNdf", selectedNdf },
                            { "drug", selectedDrug },
                            { "nullOnCancel", true}
                        };
                        selectedDrug = await DialogService.OpenAsync<DrugForm>($"The name {selectedDrug.Name} already exists", parameters);
                        if (selectedDrug==null)
                        {
                            await DrugsTblRef.ClearSelection();
                            await InvokeAsync(StateHasChanged);
                            return;
                        }
                        await RPMS.GoToMenu("DRUG");
                        await RPMS.SendAsync(selectedDrug.Name);
                    }
                    else
                    {
                        await RPMS.SendAsync("NO");
                    }
                    break;
                case "CHOOSE":
                    await RPMS.SendAsync("^");
                    break;
                default:
                    throw new RPMSException();
            }
        }
        throw new RPMSException("Max loops reached");
    }

    private async Task CreateNewDrug()
    {
        try
        {
            await RPMS.SendAsync("YES");
            await RPMS.EnterUntil("DRUG MESSAGE");
            await RPMS.SendAsync(selectedDrug.Message);
            await RPMS.EnterUntil("DEA, SPECIAL HDLG:");
            await RPMS.SendAsync(selectedDrug.DeaSpcl);
            RPMS.CheckPromptAndThrow("DAW CODE:");
            await RPMS.SendAsync("^ORDER UNIT", selectedDrug.OrderUnit, selectedDrug.DispenseUnit, selectedDrug.DispenseUnitsPerOrderUnit?.ToString(), selectedDrug.NcpdpDispenseUnit, selectedNdf.Ndc);
            RPMS.CheckPromptAndThrow("PRICE PER ORDER UNIT:");
            await RPMS.SendAsync(selectedDrug.PricePerOrderUnit?.ToString());
            await RPMS.EnterUntil("NATIONAL DRUG file?");
            await RPMS.SendAsync("YES");
            await RPMS.PromptLoopAsync(new Dictionary<string, Func<Task<bool>>>
            {
                ["Yes or No"] = async () => { await RPMS.SendAsync("YES"); return false; },
                ["Is this a match "] = async () => { await RPMS.SendAsync("YES"); return false; },
                ["Press Return"] = async () => { await RPMS.SendAsync(); return false; },
                ["Enter RETURN to continue"] = async () => { await RPMS.SendAsync(); return false; },
                [" edit "] = async () => { return true; },
                ["osages"] = async () => { return true; }
            }, 20);
            await RPMS.EnterUntil("Enter your choice(s) separated by commas");
            await RPMS.SendAsync(selectedDrug.ApplicationPackage);
            await RPMS.PromptLoopAsync(new Dictionary<string, Func<Task<bool>>>
                {
                    ["AN Outpatient Pharmacy ITEM"] = OutpatientPackage,
                    ["AN Unit Dose ITEM"] = UDPackage,
                    ["A Non-VA Med ITEM"] = YesOnly,
                    ["AN IV ITEM"] = YesAndUphat,
                    ["Orderable Item"] = async () => { return true; }
                }, 10);
        }
        catch (Exception ex)
        {
            NotificationService.Error(ex);
        }
    }

    private async Task<bool> OutpatientPackage()
    {
        await RPMS.SendAsync("YES");
        await RPMS.EnterUntil("Enter Yes or No");
        await RPMS.SendAsync("NO");
        await RPMS.SendAsync("NO");
        return false;
    }    
    
    private async Task<bool> UDPackage()
    {
        await RPMS.SendAsync("YES", "^", "^");
        return false;
    }    
    
    private async Task<bool> YesAndUphat()
    {
        await RPMS.SendAsync("YES", "^");
        return false;
    }

    private async Task<bool> YesOnly()
    {
        await RPMS.SendAsync("YES");
        return false;
    }

    private async Task NdcChange()
    {
        await RPMS.GoToMenu("NDC");
        for (int i = 0; i < 3; i++)
        {
            await RPMS.SendAsync(selectedDrug.Id.ToString());
            string prompt = RPMS.CheckPrompt("NDC:", "Select DRUG GENERIC NAME");
            switch(prompt)
            {
                case "NDC:":
                    return;
                case "Select DRUG GENERIC NAME":
                    await Task.Delay(500);
                    await RPMS.GoToMenu("NDC");
                    break;
                default:
                    throw new Exception("Unknown Menu location");
            }
        }
        throw new Exception("Drug not found");
    }
    
    private async void HandleModeChanged()
    {
        if (RPMS.JustSignedIn)
        {
            await RunRPMSCommands();   
        }
    }

    public void Dispose()
    {
        RPMS.UnSubscribeToModeChanged(HandleModeChanged);
    }
}