@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@using AutoCAC.Models
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AutoCAC.Models.mainContext> DbFactory

<RadzenStack>
    @if (selectedRow != null)
    {
        <RadzenButton Click="ClearSelection" ButtonStyle="ButtonStyle.Base" Variant="Variant.Text" Text="@GetSelectedLabel()"
                        Style="text-transform: none" />
    }
    else
    {
        <pre>Type NDC or NDF Drug name below. (Recommended: Search by NDC for more accuracy)<br />Then presss enter to filter restults<br />Then click an option to select</pre>
        <DataGridVanilla TItem="AutoCAC.Models.Ndf" GridModel="GridModel"
                            RowSelect="OnRowSelect"
                            >
            <EmptyTemplate>
                <p>No matching drugs found in the national drug file. Double-check the NDC.</p>
                <p>Tip: if there is no matching NDC, use the drug name that most closely matches your product, then manually change the NDC in RPMS</p>
            </EmptyTemplate>
            <ChildContent>
                <RadzenDataGridColumn TItem="AutoCAC.Models.Ndf" Property="PrintName" Title="Print Name"/>
                <RadzenDataGridColumn TItem="AutoCAC.Models.Ndf" Property="ProductName" Title="Product Name"/>
                <RadzenDataGridColumn TItem="AutoCAC.Models.Ndf" Property="Ndc" Title="Ndc"/>
            </ChildContent>
        </DataGridVanilla>
    }
</RadzenStack>

    @code {
    [Parameter] public EventCallback<Ndf> SelectionChanged { get; set; }
    private Ndf selectedRow;
    private async Task OnRowSelect(Ndf selected)
    {
        selectedRow = selected;
        await SelectionChanged.InvokeAsync(selected);
        await InvokeAsync(StateHasChanged);
    }
    private DataGridHelper<AutoCAC.Models.Ndf> GridModel = new()
        {
            QueryFactory = db => db.Ndfs
                .Where(x => x.InactiveDate == null),
            SearchColumns = new[] { "Ndc", "ProductName", "PrintName" }
        };

    private async Task ClearSelection()
    {
        selectedRow = null;
        await SelectionChanged.InvokeAsync(null);
        await InvokeAsync(StateHasChanged);
    }
    private string GetSelectedLabel()
    {
        if (selectedRow == null) return string.Empty;
        return $"Selected NDC: {selectedRow.Ndc}; {(string.IsNullOrWhiteSpace(selectedRow.PrintName) ? selectedRow.ProductName : selectedRow.PrintName)} (click to change)";
    }
}
