@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Models

<h3>Match to Existing Drug</h3>
<VanillaFormField Label="Search only Drugs matcing NDF entry">
	<RadzenCheckBox @bind-Value="onlyNdf" @bind-Value:after="@(() => GridModel.ReloadAsync())"/>
</VanillaFormField>
<DataGridDialog TItem="Drug" GridModel="GridModel"/>

@code {
	[Parameter] public string Ndc { get; set; }
	bool onlyNdf = true;
	DataGridHelper<Drug> GridModel = new()
	{
		IncludeColumns = new[] { nameof(Drug.Name), nameof(Drug.ApplicationPackage), nameof(Drug.Ndc) },
		SearchColumns = new[] { nameof(Drug.Name) }
	};
	protected override void OnInitialized()
	{
		GridModel.QueryFactory = db =>
		{
			var qry = db.Drugs.AsQueryable();

			if (onlyNdf && !string.IsNullOrWhiteSpace(Ndc))
			{
				qry = qry.Where(drug =>
					db.Ndfs.Any(ndf =>
						ndf.Ndc == Ndc &&
						(
							(ndf.PrintName != null && drug.VaPrintName == ndf.PrintName) ||
							(ndf.PrintName == null && drug.Generic == ndf.Generic)
						)));
			}

			return qry;
		};
	}
}
