@page "/supervisor/inpatient"
<h3>Inpatient Supervisor Options</h3>
<RadzenPanelMenu>
	<RadzenPanelMenuItem Text="Night Shift" Path="/supervisor/inpatient/nightshift" />
	<RadzenPanelMenuItem Text="Nurse Compound Training" Path="/supervisor/inpatient/NurseCompoundTraining" />
</RadzenPanelMenu>