@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@NavigationManager.BaseUri" />
    <RadzenTheme @rendermode="@InteractiveServer" Theme="material" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/xterm.min.css" />
    <link rel="icon" href="favicon.ico" />
    <style>
        .xterm .xterm-viewport {
            overflow-y: auto;
            scrollbar-width: thin; /* For Firefox */
            scrollbar-color: #888 #444; /* For Firefox */
        }

        .xterm .xterm-viewport::-webkit-scrollbar {
            width: 8px; /* For Chrome, Safari, and Opera */
        }

        .xterm .xterm-viewport::-webkit-scrollbar-thumb {
            background-color: #888;
        }

        .content-container {
            max-width: 1440px;
        }

        .content-container:has(.content-container--wide) {
            max-width: 90%;
        }
    </style>
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="js/xterm.min.js"></script>
    <script src="js/pako.min.js"></script>
    <script src="js/index.js?v=17"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    [Inject]
    private ThemeService ThemeService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (HttpContext != null)
        {
            var theme = HttpContext.Request.Cookies["AutoCACTheme"];

            if (!string.IsNullOrEmpty(theme))
            {
                ThemeService.SetTheme(theme, false);
            }
        }
    }
}
