@page "/"
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@using AutoCAC.Models
@using AutoCAC.Common
@inject IDbContextFactory<AutoCAC.Models.MainContext> DbFactory
@inject AutoCAC.Services.UserContextService UserContext

<PageTitle>Home</PageTitle>
<h4>Notifications</h4>
<DataGridVanilla TItem="Notification" GridModel="GridModel">
	<RadzenDataGridColumn TItem="Notification" Title="Last Modified" Property="LastModifiedAt" />
	<RadzenDataGridColumn TItem="Notification" Property="Alert.Title" Title="Info" Sortable="false" Filterable="false">
		<Template Context="x">
			<h4>@x?.Alert?.Title</h4>
			@if(x?.Alert?.AlertMessages.Any() == true)
			{				
				<span>Unseen Activity:</span>
				<ul>
					@foreach (var y in x.Alert.AlertMessages)
					{
						if (x.LastSeenAt == null || x.LastSeenAt < y.CreatedAt)
						{
							<li>@y.Body</li>
						}
					}
				</ul>
			}
		</Template>
	</RadzenDataGridColumn>
</DataGridVanilla>
@code {
	ReadStateFilter readStateFilter = ReadStateFilter.Unread;
	DataGridHelper<Notification> GridModel = new()
	{
		AllowColumnPicking = false,
		AllowColumnReorder = false,
		AllowGrouping = false,
		ShowDownloadButton = false,
		ShowTemplates = false
	};
	protected override void OnInitialized()
	{
		GridModel.QueryFactory = db =>
		{
			var qry = db.Notifications
						.Include(x => x.Alert)
							.ThenInclude(x => x.AlertMessages)
						.Where(x => x.AuthUserId == UserContext.UserProfile.Id);
			if (readStateFilter == ReadStateFilter.Read)
			{
				qry = qry.Where(x => !x.HasUnseenActivity);
			}
			else if (readStateFilter == ReadStateFilter.Unread)
			{
				qry = qry.Where(x => x.HasUnseenActivity);
			}
			return qry;
		};
	}
}

