@page "/"
@using AutoCAC.Utilities
@using AutoCAC.Components.OrderDialogs
@inject IJSRuntime JS
<h3>Test ShellOutput Parsing</h3>
<QuickOrder Package="OUTPATIENT PHARMACY" />

@code {
    protected override void OnInitialized()
    {
        
    }
}
