@page "/settings"
@using AutoCAC.Services
@inject UserContextService User
@inject NavigationManager Nav
<PageTitle>Settings</PageTitle>

<RadzenAppearanceToggle><RadzenIcon Icon="dark_mode" /><span style="text-transform: none;">Toggle Light and Dark Mode</span></RadzenAppearanceToggle>
<RadzenPanelMenu>
	<RadzenPanelMenuItem Text="Search Templates" Path="settings/searchtemplates" />
	<CanAccessVanilla RelativeUrl="/settings/admin/">
		<RadzenPanelMenuItem Text="Admin">
			<RadzenPanelMenuItem Text="Link RPMS Staff to User" Path="/settings/admin/stafflink" />
			<RadzenPanelMenuItem Text="Link Active Directory Group to Database Group" Path="/settings/admin/autogroup" />
			<RadzenPanelMenuItem Text="Restricted Pages" Path="/settings/admin/restrictpages" />
			<RadzenPanelMenuItem Text="Lookup Settings" Path="settings/admin/lookupsettings" />
		</RadzenPanelMenuItem>
	</CanAccessVanilla>
</RadzenPanelMenu>