@using AutoCAC.Services
@using AutoCAC.Models
@using AutoCAC.Common
@inject IDbContextFactory<MainContext> DbFactory
@inject UserContextService UserContext
@inject DialogService DialogService
@inject NavigationManager Nav
@typeparam TItem where TItem : class, IActivityLog, new()
<div style="@($"max-height: {MaxHeight}; overflow-y: scroll")">
    <RadzenDataList Data="Data" AllowPaging="false" class="datalist-less-padding datalist-no-border" >
        <Template Context="m">
            <ActivityLogEntry Item="m" CurrentUserId="@(UserContext?.UserProfile?.Id ?? 0)"/>
        </Template>
    </RadzenDataList>
</div>
@code {
    [Parameter, EditorRequired] public IEnumerable<TItem> Data { get; set; }
    [Parameter] public string MaxHeight { get; set; } = "20vh";
}
