@inject DialogService DialogService

<RadzenTemplateForm TItem="string" Data="@Value" Submit="() => DialogService.Close(Value)">
    <RadzenAutoComplete Data="Suggestions"
                        @bind-Value="Value"
                        Placeholder="@Placeholder"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        OpenOnFocus="@(string.IsNullOrEmpty(Value))"
                        Style="width:100%;" />

    <div class="mt-3 flex justify-end gap-2">
        <RadzenButton Text="Cancel" ButtonType="ButtonType.Button"
                      ButtonStyle="ButtonStyle.Light"
                      Click="() => DialogService.Close(null)" />
        <RadzenButton Text="OK"
                      ButtonStyle="ButtonStyle.Primary"
                      Disabled="@string.IsNullOrWhiteSpace(Value)"
                      ButtonType="ButtonType.Submit" />
    </div>
</RadzenTemplateForm>

@code {
    [Parameter] public List<string> Suggestions { get; set; }
    [Parameter] public string Placeholder { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = "";
}
