@using AutoCAC.Components.Templates.Buttons
@using AutoCAC.Models

@switch (LoadState)
{
    case LoadingState.Loading:
        <span>Loading...</span>
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"
                           AriaLabel="Loading" />
        break;
    case LoadingState.NotFound:
        <p>@NotFoundMessage</p>
        <a href="javascript:history.back()">Back</a>
        break;
    case LoadingState.Error:
        <p>Error occured when retrieving data</p>
        break;
    default:
        @ChildContent
        break;
}

@code {
    [Parameter] public LoadingState LoadState { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string NotFoundMessage { get; set; } = "No Data Found";
}
