@implements IDisposable
@inject IJSRuntime JS

<div id="RPMSOutputDiv">
    <div id="rpmsOutputTxtDiv"></div>
    <RadzenRow class="rz-mb-2">
        <RadzenButton Text="Clear History" Click="@(() => Layout.RPMS.ClearHistory())" ButtonStyle="ButtonStyle.Dark" />
        <RadzenButton Text="Download Terminal Contents" Click="DownloadRPMSReceived" />
    </RadzenRow>
</div>
@code {
    [CascadingParameter(Name = "MainLayout")] public MainLayout Layout { get; set; }

    // Optional callback after successful login
    [Parameter] public EventCallback OnLoginSuccess { get; set; }
    [Parameter] public string SignedOutMsg { get; set; } = "Enter Access and Verify Code to Continue";
    [Parameter] public bool CollapsedInitial { get; set; } = false;

    private void ScrollToInput()
    {
        _ = Layout.ScrollToRPMS();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("reinitRPMSXterm");
            await JS.InvokeVoidAsync("writeRPMSXterm", Layout.RPMS.LastReceivedRaw);
            if (Layout.RPMS.IsInMode(RPMSMode.Disconnected))
            {
                Layout.RPMS.OpenConnection();
            }
            else if (Layout.RPMS.SignedIn && OnLoginSuccess.HasDelegate)
            {
                await OnLoginSuccess.InvokeAsync();
            }
        }
    }

    public async Task DownloadRPMSReceived()
    {
        await JS.InvokeVoidAsync("downloadRPMSContent");
    }

    public void Dispose()
    {
    }
}