@implements IDisposable
@inject IJSRuntime JS
@using AutoCAC.Extensions
@using static RPMSService

<div id="RPMSOutputDiv">
    <div id="rpmsOutputTxtDiv"></div>
    <RadzenRow class="rz-mb-2">
        <RadzenButton Text="Clear History" Click="@(() => Layout.RPMS.ClearHistory())" ButtonStyle="ButtonStyle.Dark" />
        <RadzenButton Text="Download Terminal Contents" Click="DownloadReceived" />
    </RadzenRow>
</div>
@code {
    [CascadingParameter(Name = "MainLayout")] public MainLayout Layout { get; set; }
    private void ScrollToInput()
    {
        _ = Layout.ScrollToRPMS();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.ReinitXterm();
            if (Layout.RPMS.IsInMode(RPMSService.Modes.Disconnected))
            {
                Layout.RPMS.OpenConnection();
            }
        }
    }

    public async Task DownloadReceived()
    {
        await JS.DownloadXtermContentAsync();
    }

    public void Dispose()
    {
    }
}