@page "/insurance/insured"
@using AutoCAC.Models
<EnumDropdown TEnum="InsuranceReportType" Change="@(() => GridModel.ReloadAsync())" @bind-Value="selectedReportType" />
<h4>@reportDescription</h4>
<DataGridVanilla TItem="Insurance" GridModel="GridModel">
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="Patient.Name" Title="Name" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="Patient.ChartNumber" Title="Chart#" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="Insurer.RxBillingStatus" Title="Insurer Rx Billing" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="InsuranceCompany" Title="InsuranceCompany" FilterMode="FilterMode.CheckBoxList" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="InsuranceType" Title="InsuranceType" FilterMode="FilterMode.CheckBoxList" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="PolicyNumber" Title="PolicyNumber" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="GroupName" Title="GroupName" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="EffectiveDate" Title="EffectiveDate" />
	<RadzenDataGridColumn TItem="AutoCAC.Models.Insurance" Property="ExpirationDate" Title="ExpirationDate" />
</DataGridVanilla>

@code{
	enum InsuranceReportType
	{
		All,
		AllActive,
		Expired,
		Expiring
	};
	InsuranceReportType selectedReportType = InsuranceReportType.All;
	string reportDescription => selectedReportType switch
	{
		InsuranceReportType.All => "All Insurance Polices",
		InsuranceReportType.AllActive => "All Insurance Polices with no expiration or expiration in the future",
		InsuranceReportType.Expired => "Insurance polices expired in past 365 days",
		InsuranceReportType.Expiring => "Insurance polices expiring within the next 30 days",
		_ => ""
	};
	DataGridHelper<Insurance> GridModel = new()
	{
	};
	protected override void OnInitialized()
	{
		GridModel.QueryFactory = db =>
		{
			var q = db.Insurances
				.Include(x => x.Patient)
				.Include(x => x.Insurer)
				.OrderBy(x => x.Patient.Name);
			if (selectedReportType == InsuranceReportType.All)
			{
				return q;
			}
			var today = DateTime.Now.DateOnly;
			if (selectedReportType == InsuranceReportType.AllActive)
			{
				return q.Where(x => x.ExpirationDate >= today);
			}
			DateOnly expStart;
			DateOnly expEnd;
			if (selectedReportType == InsuranceReportType.Expired)
			{
				expStart = today.AddDays(-365);
				expEnd = today;
			}
			else
			{
				expStart = today;
				expEnd = today.AddDays(30);
			}
			return q
				.Where(x => x.ExpirationDate != null && x.ExpirationDate >= expStart && x.ExpirationDate <= expEnd);
		};
	}
}