@page "/tsaile/new"

@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Components.Tsaile
@using AutoCAC.Models
@inject IDbContextFactory<mainContext> DbFactory
@using AutoCAC.Services
@inject UserContextService UserContext
@inject NavigationManager Nav
@inject NotificationService Notifications
@inject DialogService DialogService
@inject LookupValueService Lookup

@if (selectedPatient == null)
{
	<span>Select a patient</span>
}
else
{
	<h3>@($"Ticket for {selectedPatient?.Name} ({selectedPatient?.ChartNumber})")</h3>
	<RadzenTemplateForm TItem="TsaileBetterq" Data="item" Submit="OnSubmit">
		<VanillaFormField Label="Waiter">
			<RadzenCheckBox @bind-Value="item.Waiting" />
		</VanillaFormField>
		<VanillaFormField Label="Controlled Substance">
			<RadzenCheckBox @bind-Value="item.ControlledSubstance" />
		</VanillaFormField>
		<VanillaFormField Label="Batch To">
			<RadzenDropDown @bind-Value="item.BatchTo" Data="_batchChoices"  />
		</VanillaFormField>
		<VanillaFormField Label="Earliest Fill Date">
			<RadzenDatePicker @bind-Value="item.Efdt" ShowTime="false" />
		</VanillaFormField>
		<VanillaFormField Label="Comments">
			<RadzenTextArea @bind-Value="initialComment" />
		</VanillaFormField>

		<StandardButtons />
	</RadzenTemplateForm>
}

@code{
	private TsaileBetterq item { get; set; } = new();
	private TsailePatient selectedPatient { get; set; }
	private string initialComment { get; set; }
	private string[] _batchChoices;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await SelectPatient();
		}
	}
	private async Task SelectPatient()
	{
		selectedPatient = await DialogService.OpenAsync<TsaileSelectPatient>("Select a Patient", options: new DialogOptions{ Width = "80%" });
		if (selectedPatient == null || selectedPatient?.Id == 0)
		{
			Nav.NavigateToRelative(fromParent: true);
			return;
		}
		item.PatientId = selectedPatient.Id;
		await using var db = await DbFactory.CreateDbContextAsync();
		var existingTicket = await db.TsaileBetterqs.FirstOrDefaultAsync(x => x.PatientId == selectedPatient.Id && x.CompletedDateTime == null);
		if (existingTicket != null)
		{
			var goToExisting = await DialogService.YesNoDialog("Existing Ticket"
								, $"There's already an open ticket for {selectedPatient.Name}. Go to existing ticket?"
								, "Go to exising ticket", "Continue creating new ticket");
			if (goToExisting == true)
			{
				Nav.NavigateToRelative(existingTicket.Id.ToString(), fromParent: true);
				return;
			}
			if (goToExisting == null)
			{
				Nav.NavigateToRelative(fromParent: true);
				return;
			}
		}
		_batchChoices = await Lookup.GetValuesAsync(LookupValueService.CommonOptionSet.TsaileBatchTo);
		StateHasChanged();
	}
	private async Task OnSubmit()
	{
		item.Status = TsaileTicketStatus.Screening.ToString();
		item.CreatedDateTime = DateTime.Now;
		item.LastModifiedDateTime = DateTime.Now;
		await item.CreateAsync(DbFactory, UserContext.UserProfile.Id);
		if (!string.IsNullOrWhiteSpace(initialComment))
		{
			await item.AddCommentAsync(DbFactory, initialComment, UserContext.UserProfile.Id);
		}
		Notifications.Success("Successfully created ticket");
		Nav.NavigateToRelative(fromParent: true);
	}

}

