@page "/tsaile/new/{Id:int}"

@using AutoCAC.Components.Templates.Forms
@using AutoCAC.Components.Tsaile
@using AutoCAC.Models
@inject IDbContextFactory<mainContext> DbFactory
@using AutoCAC.Services
@inject UserContextService UserContext
@inject NavigationManager Nav
@inject NotificationService Notifications
@inject DialogService DialogService
@inject LookupValueService Lookup

<LoadingContent IsLoading="@(selectedPatient == null)" NotFoundMessage="@_notFoundMsg">
	<h3>@($"Ticket for {selectedPatient?.Name} ({selectedPatient?.ChartNumber})")</h3>
	<RadzenTemplateForm TItem="TsaileBetterq" Data="item" Submit="OnSubmit">
		<VanillaFormField Label="Waiter">
			<RadzenCheckBox @bind-Value="item.Waiting" />
		</VanillaFormField>
		<VanillaFormField Label="Controlled Substance">
			<RadzenCheckBox @bind-Value="item.ControlledSubstance" />
		</VanillaFormField>
		<VanillaFormField Label="Batch To">
			<RadzenDropDown @bind-Value="item.BatchTo" Data="_batchChoices" Name="batchToField" />
			<RadzenRequiredValidator Component="batchToField"  />
		</VanillaFormField>
		<VanillaFormField Label="Earliest Fill Date">
			<RadzenDatePicker @bind-Value="item.Efdt" ShowTime="false" />
		</VanillaFormField>
		<VanillaFormField Label="Comments">
			<RadzenTextArea @bind-Value="initialComment" />
		</VanillaFormField>
		<CommentTemplate Title="Patient Comments" TItem="TsailePatientcomment" CommentQueryFactory="CommentQueryFactoryPatient"
							MapToEntity="MapCommentPatient" Print="false" AllowDeleteAll="true" />
		<StandardButtons />
	</RadzenTemplateForm>
</LoadingContent>

@code{
	[Parameter] public int Id { get; set; }
	private TsaileBetterq item { get; set; } = new();
	private TsailePatient selectedPatient { get; set; }
	private string initialComment { get; set; }
	private IReadOnlyList<string> _batchChoices;
	private string _notFoundMsg;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await SelectPatient();
		}
	}
	private async Task SelectPatient()
	{
		await using var db = await DbFactory.CreateDbContextAsync();
		selectedPatient = await db.TsailePatients
							.Include(x => x.TsaileBetterqs)
							.FirstOrDefaultAsync(x => x.Id == Id)
							;
		if (selectedPatient?.Id == null || selectedPatient.Id == 0)
		{
			_notFoundMsg = "Patient Not Found";
			StateHasChanged();
			return;
		}
		var existingTicket = selectedPatient.TsaileBetterqs.FirstOrDefault(x => x.CompletedDateTime == null);
		if (existingTicket != null)
		{
			var goToExisting = await DialogService.YesNoDialog("Existing Ticket"
								, $"There's already an open ticket for {selectedPatient.Name}. Go to existing ticket?"
								, "Go to exising ticket", "Continue creating new ticket");
			if (goToExisting == true)
			{
				Nav.NavigateToWithExistingQry($"/tsaile/ticket/{existingTicket.Id.ToString()}");
				return;
			}
			if (goToExisting == null)
			{
				Nav.NavigateToWithExistingQry($"/tsaile");
				return;
			}
		}
		_batchChoices = Lookup.GetValues(LookupValueService.CommonOptionSet.TsaileBatchTo);
		item.PatientId = Id;
		StateHasChanged();
	}
	private async Task OnSubmit()
	{
		item.Status = TsaileTicketStatus.Screening.ToString();
		item.CreatedDateTime = DateTime.Now;
		item.LastModifiedDateTime = DateTime.Now;
		await item.CreateAsync(DbFactory, UserContext.UserProfile.Id);
		if (!string.IsNullOrWhiteSpace(initialComment))
		{
			await item.AddCommentAsync(DbFactory, initialComment, UserContext.UserProfile.Id);
		}
		Notifications.Success("Successfully created ticket");
		Nav.NavigateToWithExistingQry("/tsaile");
	}

	private IQueryable<CommentModel> CommentQueryFactoryPatient(mainContext db) =>
		db.TsailePatientcomments
				.Where(x => x.PatientId == item.PatientId)
				.Include(x => x.AuthUser)
				.OrderBy(x => x.CreatedAt)
				.Select(x => new CommentModel
				{
					Id = x.Id,
					AuthUser = x.AuthUser,
					CreatedAt = x.CreatedAt,
					Text = x.Comment
				});

	private TsailePatientcomment MapCommentPatient(CommentModel m) => new TsailePatientcomment
	{
		Id = m.Id,
		PatientId = item.PatientId,
		Comment = m.Text,
		CreatedAt = m.CreatedAt,
		AuthUserId = m.AuthUser.Id
	};
}

