@using AutoCAC.Components.Templates.DataGrids

<DataGridDialog TItem="AutoCAC.Models.Patient" GridModel="GridModel">
    <EmptyTemplate>
        <p><strong>If this is a new patient, go to "^PATIENT SCHEDULED" in RPMS and press Enter at the "Requested Time To Print: NOW//" prompt.</strong></p>
        <strong>It will take about 2 to 5 minutes to update the patient list.</strong>
    </EmptyTemplate>
</DataGridDialog>

@code{
    private DataGridHelper<AutoCAC.Models.Patient> GridModel = new()
    {
        SearchColumns = new[] { "TsaileChartNumber", "Name" },
        IncludeColumns = new[] { "TsaileChartNumber", "Name" }
    };
}